* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 200px;
  background-color: rgb(59, 59, 59);
  border-radius: 25px;
}
#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
  text-align: center;
  color: white;
}

#submit {
  height: 30px;
  width: 80px;
}

#total {
  height: 20px;
  width: 100px;
  margin-bottom: 10px;
}

#tip {
  height: 20px;
  width: 100px;
  margin-bottom: 10px;
}

#result {
  padding-top: 30px;
  font-weight: 500;
  font-size: 25px;
}
