* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#button {
  width: 100px;
  height: 25px;
  margin: 10px;
  border-radius: 5px;
  font-size: 1rem;
}

#main {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(66, 66, 66);
  background-color: rgb(223, 223, 223);
}

#main p {
  font-weight: 500;
}

#main p.highlighted {
  font-weight: 700;
}
